/*
.-----------------------------------------------------------------.
| .-------------------------------------------------------------. |
| |                    Table of Contents                        | |
| |  1.00.00 - General Styling.........................Line 25  | |
| |                                                             | |
| |  2.00.00 - Header Styling..........................Line 58  | |
| |    01.00 - Ticker..................................Line 70  | |
| |    02.00 - Navigation Bar..........................Line 100 | |
| |                                                             | |
| |  3.00.00 - Footer Styling..........................Line 234 | |
| |    01.00 - Meta Footer.............................Line 239 | |
| |    02.00 - Footer..................................Line 286 | |
| |                                                             | |
| |  4.00.00 - Main Menu Styling.......................Line 323 | |
| |                                                             | |
| |  5.00.00 - Home Page Styling.......................Line 361 | |
| |    01.00 - Layout & Design.........................Line ### | |
| |_____________________________________________________________| |
|_________________________________________________________________|
/*
/*
====================================================================
====================================================================
1.00.00 - General Styling
====================================================================
====================================================================
*/
/*\ 1.00.01) Hides header overflow and brings it on top \*/
.header{
  z-index: 9;
}
/*\ 1.00.02) General Body Styling \*/
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*\ 1.00.03) Changes the main background color to off-white / grey \*/
.mainbody{
  background-color: rgb(240, 240, 240);
}
/*\ 1.00.04) Clear floats after the columns to create rows \*/
.row:after{
  content: "";
  display: table;
  clear: both;
}
/*\ 1.00.05) Restricts the content area of the page\*/
.contentArea{
  margin: 0 auto;
  max-width: 1250px;
  min-width: 850px;
}
/*
====================================================================
====================================================================
2.00.00 - Header Styling
====================================================================
====================================================================
*/
/*\ 2.00.01) Makes the Header stick to the top of screen on scroll \*/
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
/*
====================================================================
2.01.00 - Ticker
====================================================================
*/
/*\ 2.01.01) Creates background box for the Ticker \*/
.backingTicker{
  background-color: #9E0000;
  height: 25px;
}
/*\ 2.01.02) Restricts the content area of the Ticker \*/
.contentAreaTicker{
  margin: 0 auto;
  max-width: 1250px;
  min-width: 850px;
}
/*\ 2.01.03) Styles the "Top Trades" label on the Ticker \*/
.toptrades{
  position: absolute;
  color: #FFF;
  font-size: 15pt;
  margin-left: 25px;
  top: 3px;
}
/*\ 2.01.04) Styles the clock on the Ticker \*/
.clocktop{
 color: #FFF;
 font-size: 18pt;
 margin-right: 5px;
}
/*
====================================================================
2.02.00 - Navigation Bar
====================================================================
*/
/*\ 2.01.01) Creates background box for the Navigation Bar \*/
.navhead{
  background-color: #0F0F0F;
  height: 60px;
  margin-top: 50px;
}
/*\ 2.02.02) Restricts the content area of the Navigation Bar \*/
.contentAreaNav{
  margin: 0 auto;
  max-width: 1250px;
  min-width: 850px;
  margin-top: -50px;
}
/*\ 2.02.03) Sets the position of the logo on the Nav Bar \*/
.logocon{
  position: absolute;
  top: 25px;
}
/*
--------------------------------------------------------------------
2.02.10 - Navigation Bar (Membership Button) **CURRENTLY DEACTIVE**
--------------------------------------------------------------------
*/
/*\ 2.02.12) Stylizes the membership button on the Nav Bar \*/
.memberbutton button{
  background-color: #4266f5;
  border: none;
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.memberbutton button:hover{
  background-color: rgb(56, 92, 235);
}
/*
--------------------------------------------------------------------
2.02.20 - Navigation Bar (Membership Links)
--------------------------------------------------------------------
*/
/*\ 2.02.21) Sets the position of the membership links \*/
.memberbutton{
    color: white;
    float: right;
    margin-top: -30px;
    margin-right: 7%;
    font-size: 16pt;
}
/*\ 2.02.22) Styles the links of the Membership links \*/
.memberbutton a:link{
  color: white;
  text-decoration: none;
}
.memberbutton a:visited{
  color: white;
  text-decoration: none;
}
.memberbutton a:hover{
  color: grey;
  text-decoration: none;
}
.memberbutton a:active{
  color: white;
  text-decoration: none;
}
/*
--------------------------------------------------------------------
2.02.30 - Navigation Bar (Menu Button)
--------------------------------------------------------------------
*/
/*\ 2.02.31) Sets the position of the menu button \*/
.menuwhole{
  float: right;
  margin-right: -70px;
  margin-top: -7px;
}
/*\ 2.02.32) Stylizes the menu button \*/
.menuwhole:hover{
  cursor: pointer;
}
.menuwhole:hover > .menuit{
  background-color:grey;
}
/*\ 2.02.33) Generates the invidual bars of the menu button \*/
.menuit{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 8px;
}
/*
--------------------------------------------------------------------
2.02.40 - Navigation Bar (Search Bar)
--------------------------------------------------------------------
*/
/*\ 2.02.41) Sets the position of the search bar \*/
.search{
  margin: 0 auto;
  width: 51%;
  margin-right: 25%;
}
/*\ 2.02.42) Sets the size of the input for the search bar \*/
.searchbar{
  margin-top: 11px;
  height: 30px;
  width: 85%;
  font-size:18pt;
  border-radius: 5px;
}
/*\ 2.02.43) Stylizes the search button \*/
.search-container button{
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.search-container button:hover{
  background: grey;
}
/*
====================================================================
====================================================================
3.00.00 - Footer Styling
====================================================================
====================================================================

====================================================================
3.01.00 - Meta Footer
====================================================================
*/
/*\ 3.01.01) Creates background box for the Meta Footer \*/
.backingMetaFooter{
  background-color: rgb(50, 50, 50);
  height: 140px;
  color: white;
  margin-top: 25px;
}
/*\ 3.01.02) Restricts the content area of the Meta Footer \*/
.contentAreaMetaFooter{
  margin: 0 auto;
  max-width: 1250px;
  min-width: 850px;
  margin-top: -25px;
  padding-left: 15%;
}
/*\ 3.01.03) Styles and Sizes the Meta Footer Columns \*/
.columnMetaFooter{
  float: left;
  width: 20%;
  font-size: 14pt;
}
/*\ 3.01.04) Styles the text of the Meta Footer \*/
.metaFooterText{
  font-size: 15px;
}
/*\ 3.01.05) Styles the links of the Meta Footer \*/
.metaFooterText a:link{
  color: white;
  text-decoration: none;
}
.metaFooterText a:visited{
  color: white;
  text-decoration: none;
}
.metaFooterText a:hover{
  color: grey;
  text-decoration: none;
}
.metaFooterText a:active{
  color: white;
  text-decoration: none;
}
/*
====================================================================
3.02.00 - Footer
====================================================================
*/
/*\ 3.02.01) Creates background box for the Footer \*/
.backingFooter{
  background-color: rgb(25, 25, 25);
  height: 40px;
  color: white;
  font-size: 12pt;
}
/*\ 3.02.02) Restricts the content area of the Footer \*/
.contentAreaFooter{
  margin: 0 auto;
  max-width: 1250px;
  min-width: 850px;
  margin-top: -25px;
}
/*\ 3.02.03) Styles the links of the Footer \*/
.backingFooter a:link{
  color: white;
  text-decoration: none;
}
.backingFooter a:visited{
  color: white;
  text-decoration: none;
}
.backingFooter a:hover{
  color: grey;
  text-decoration: none;
}
.backingFooter a:active{
  color: white;
  text-decoration: none;
}
/*
====================================================================
====================================================================
4.00.00 - Main Menu Styling
====================================================================
====================================================================
*/
/*\ 4.00.01) Creates the Sidebar menu \*/
.sidebar {
  height: 100%;
  width: 0; /* Changed with JavaScript */
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
}
/*\ 4.00.02) Styles the links of the Sidebar \*/
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
/*\ 4.00.03) Creates & Styles the close button of the Sidebar \*/
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*
====================================================================
====================================================================
5.00.00 - Home Page Styling
====================================================================
====================================================================

====================================================================
5.01.00 - Layout & Design
====================================================================
*/
/*\ 5.01.01) Styles and Sizes the Market Columns \*/
.columnMainMarket{
  float: left;
  width: 33.33%;
}
/*\ 5.01.02) Styles and Sizes the Resource Columns \*/
.columnRes{
  float: left;
  width: 25%;
}
/*\ 5.01.03) Styles and Sizes the List Columns \*/
.columnList{
  float: left;
  width: 20%;
  font-size: 14pt;
}
/*\ 5.01.04) Styles and Sizes the RSS News Line Columns \*/
.columnNewsLines{
  float: left;
  width: 33.33%;
  line-height: 1px;
}















/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
.modal-content {
  background-color: #9E0000;
  margin: 15% auto;
  padding: 20px;
  color: white;
  border: 1px solid #888;
  width: 50%;
  border-radius: 13px;
  opacity: 0.9;
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -20px;
}
.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}




/*Contact*/
/* Style inputs with type="text", select elements and textareas */
input.contact[type=text], select, textarea {
  width: 200%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input.contact[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input.contact[type=submit]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.contactContainer {
  border-radius: 5px;
  padding: 20px;
}

.columnContact{
  float: left;
  width: 25%;
}

.about a:link{
  color: black;
  text-decoration: none;
}
.about a:visited{
  color: black;
  text-decoration: none;
}
.about a:hover{
  color: grey;
  text-decoration: none;
}
.about a:active{
  color: black;
  text-decoration: none;
}
/*
====================================================================
####################################################################
====================================================================
   _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._
 ,'_.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._`.
( (              Copyright © 2020 Market Vision             ) )
| \       Created By: James Denbow & William Glennon        \ |
( (_.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._) )
 `._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._,'
*/
